body {
    font: 0.9em Tahoma, sans-serif;
}

.title {
    font-weight: normal;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.container div {
    text-align: right;
}

input {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 5px;
}

input[type="url"] {
    width: 450px;
    float: left;
}

input[type="url"]:focus {
    border: 1px solid blue;
}

input[type="submit"], input[type="button"] {
    transition: all .3s;
}

input[type="submit"]:hover, input[type="button"]:hover {
    box-shadow: 0 0 3px #faf;
    transition: all .3s;
}

input[type="button"]:active {
    box-shadow: none;
    transition: all .3s;
}

#msg-box {
    display: block;
    text-align: left;
    font: 10pt sans-serif;
    margin-top: 5px;
    width: 300px;
}